/*Header*/
.header {
  display: flex;
  border-bottom-style: solid;
  border-bottom-color: rgb(151, 150, 150);
  border-bottom-width: 1px;
  box-shadow: inset 1px 1px 5px rgba(56, 56, 56, 0.15);
  padding-top: 3px;
  padding-bottom: 4px;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
/*Left-Section*/

.left-section {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
  margin-right: 30px;
  gap: 10px;
  position: relative;
}

#hamburgermenu {
  width: 30px;
  height: 30;
}

#youtubelogo {
  width: 120px;
  height: 55px;
}

.left-section #youtube-home-tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 2px 8px;
  font-size: 12px;
  left: 55px;
  top: 50px;
  opacity: 0;
  pointer-events: none;
}

.left-section:hover #youtube-home-tooltip {
  opacity: 1;
  transition: 0.15s;
}

/*Middle-Section*/
.middle-section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-bar {
  width: 45%;
  min-width: 100px;
  height: 33.5px;
  border-style: solid;
  border-color: gray;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 8px;
  box-shadow: inset 1px 1px 5px rgba(56, 56, 56, 0.15);
  outline: none;
}

.search-bar:active {
  border: none;
}

.youtube-search {
  margin-left: -1px;
  width: 70px;
  height: 33.5px;
  border-style: solid;
  border-color: rgb(140, 140, 140);
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: inset 1px 1px 5px rgba(56, 56, 56, 0.15);
  margin-right: 25px;
  position: relative;
}

#youtube-search-icon {
  width: 25px;
  height: 25px;
  border: none;
  top: 2px;
  position: relative;
}

.youtube-search #search-tool-tip {
  position: absolute;
  background-color: rgb(111, 111, 111);
  color: white;
  padding: 3px 8px;
  bottom: -25px;
  left: 0px;
  border-radius: 2px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
}

.youtube-search:hover #search-tool-tip {
  opacity: 1;
  transition: 0.15s;
}

#microphone-search-icon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: none;
  background-color: rgb(253, 253, 253);
  box-shadow: inset 1px 1px 5px rgba(56, 56, 56, 0.15);
  margin-right: 30px;
  display: flex;
}

#microphone-search-icon:hover {
  opacity: 0.7;
  transition: 0.15;
}

.microphone-voice-search-parent #voice-search-tooltip {
  position: absolute;
  font-size: 12px;
  width: 133px;
  padding: 2px 2px;
  background-color: gray;
  color: white;
  bottom: -15px;
  right: -15px;
  pointer-events: none;
  opacity: 0;
}

.microphone-voice-search-parent:hover #voice-search-tooltip {
  opacity: 1;
  transition: 0.15s;
}

/*Right-Section*/
.right-section {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
  position: relative;
}

#create-video {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#bell-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#notifications {
  position: absolute;
  top: 6px;
  left: 62px;
  background-color: rgb(219, 2, 2);
  color: white;
  font-weight: 500;
  padding: 1.5px 7px 1px 6.5px;
  border-radius: 50%;
}

#chanel-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
